:root {
	--primary: #ddd;
	--primary-shadow: #bbb;
	--white: #fff;
	--black: #111;

	--button-radius: 0.25rem;
}

html {
	font-family: 'Nunito', sans-serif;
}

html, body {
	height: 100%;
}

section {
	width: 100%;
}

.form {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form form {
	display: flex;
	margin-bottom: 1rem;
}

.form form label:not(:last-child) {
	margin-right: 1rem;
}

.form form label {
	display: flex;
	flex-direction: column;
}

.form form .generate {
	padding: 0.75rem;

	background: var(--primary);
	border: none;
	border-bottom: 3px solid var(--primary-shadow);
	border-radius: var(--button-radius);
	color: var(--black);
}

.prompts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prompts .prompt {
	width: 100%;
	max-width: 50rem;
	margin-bottom: 2rem;

	text-align: left;
}
